/*
*
*
*
*/
/*COLORS*/
/*Red & Gold*/
:root{--color-highlight:#EDC109;--color-2:#D1DCE0;--color-3:#61787C;--color-4: #343545;--color-background:#5F3737;}html{background:url(https://teapot.netlify.com/calvin-background-red.svg) no-repeat center center fixed;}
/*Blue & Gold*/
/* :root{--color-highlight:#EDC109;--color-2:#D1DCE0;--color-3:#61787C;--color-4: #2C2D3A;--color-background:#37415F;}html{background:url(calvin-background-blue.svg) no-repeat center center fixed;} */
/*Green & Brown*/
/*:root{--color-highlight:#78CA40;--color-2:#E2E2D4;--color-3:#6E886F;--color-4: #544A15;--color-background: #46360A;}html{background:url(calvin-background-brown.svg) no-repeat center center fixed;}*/
/*RESET*/
* {
    margin: 0px;
    padding: 0px;
    transition: .4s;
}
/*FONT SIZE*/
body {
    font-size: 1em;
}
code {
    font-size: 1em;
}
h1, h2 {
    font-weight: 700;
}
h1 {
    font-size: 2.5em
}
h2 {
    font-size: 2em
}
.DailyTaskList > h2 {
    font-size: 1.3em
}
.CompletedTasks > h2 {
  font-size: 1.5em;
}
.pDescription{
  font-style: italic;
}
/*LAYOUT*/
html, body, #content, .WeeklyCalendar {
	overflow: visible;
}
body {
	padding: 0px 10px;
}

.WeeklyCalendar{
  display: flex;
  flex-flow: column;
  margin-top: 5em;
}
#Header{
  padding: 1em;
}

#Calendar{
  display: flex;
  flex-flow: column;
}

#Tasks{
  display: flex;
  flex-flow: row;
}

.TaskForm{
  flex-flow: row;
  order: 3;
  padding: 1em;
}

.WeeklyTaskList{
  display: flex;
  order: 1;
  flex-flow: row;
  flex: 3 1 60%;
  margin: 1em;
  margin-right: 0em;
}

.CompletedTasks{
  order: 2;
  flex: 1 6 40%;
  flex-flow: column;
  padding: 1em;
  margin: 1em;
}

.DailyTaskList{
  padding: 1em;
}

/*STYLES*/
html {
    background-color: var(--color-background);
	background-size: cover;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
body {
    filter: drop-shadow(0px 20px 25px hsla(0,0%,0%,0.5));
}
a {
    text-decoration: none;
    color: dodgerblue;
    transition: .3s;
}
a:hover {
    color: var(--color-highlight);
}
h1 {
    color: var(--color-highlight);
    text-shadow: 0px 2px 1px var(--color-4);
}
h2 {
    color: var(--color-4);
    border-bottom: solid 2px var(--color-3);
}
option {
	background: var(--color-4);
	color: var(--color-2);
}
select:hover, select:active {
	background: var(--color-highlight);
}
#content {
    background: var(--color-2);
    border-radius: 10px;
}
.WeeklyTaskList, .CompletedTasks {
    background: white;
    border-radius: 8px;
}
.DailyTaskList:not(:first-child) {
    border-left: dotted 1px var(--color-3);
}
.Task:not(:first-child) {
    border-top: solid 1px var(--color-2);
}
.Task:not(:last-child) {
    border-bottom: solid 1px var(--color-2);
}
.Task:nth-child(even) {
	border: none;
	background: var(--color-2);
	filter: contrast(1.2);
}
.TaskForm {
    margin-top: 10px;
    border-top: solid 2px var(--color-3);
}
.TaskForm input, .TaskForm select {
    background: var(--color-3);
    background: linear-gradient(90deg, var(--color-3) 30%, var(--color-4) 200%);
    color: var(--color-2);
    border: solid 1px var(--color-4);
    border-radius: 15px;
}
.TaskForm input:hover, .TaskForm select:hover {
    filter: brightness(120%);
}
.TaskForm > :last-child {
    background: var(--color-highlight);
    color: var(--color-4);
    border: none;
    filter: brightness(100%)drop-shadow(0px 1px 1px var(--color-4));
}
.TaskForm > :last-child:hover {
    filter: brightness(120%)drop-shadow(0px 1px 2px var(--color-4));
}
.TaskForm *::placeholder {
 color: var(--color-2);
 opacity: .5;
}
.TaskForm *::-ms-input-placeholder {
 color: var(--color-2);
 opacity: .5;
}

.TaskDescription{
  background: white;
  border-radius: 8px;
  padding: 1em;
  margin: 1em;
  background-size: cover;
}

.TaskEdit > h2 {
  margin: 0.25em;
}
@media all and (max-width: 1175px) {
    .WeeklyTaskList, #Calendar, #Tasks{
        flex-direction: column;
    }
    .WeeklyTaskList, #Tasks{
      padding-right: 1em;
    }
    .TaskForm{
      order: 2;
    }
    .CompletedTasks{
      order: 3;
      padding-right: 1em;
    }
    .DailyTaskList:not(:first-child) {
        border-left: none;
    }
}
